* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

main {
  padding: 4vh 8vh;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  overflow: hidden;
  flex-grow: 1;
}

footer {
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #222222;
}

.card{
  position: relative;
  margin: 5px;   /* SPAZIO TRA LE CARDS*/
}

.boxuser {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(150, 150, 150, 0.918);
  padding: 5px
}

img {
  object-fit: cover;
  width: 250px;
  height: 140px;
}

header div {
  background-color: #4a4a4a;
  padding: 3px;
  border-radius: 4px;
  margin-left: 3px;
}

.boxicon {
  display: flex;

}

.boxicon .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.icon span {
  padding-top: 15px;
}

.expand {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

footer > div {
  /* SELEZIONA SOLO FIGLI (NON DISCENDENTI) */
  display: flex;
}

div > i {
  font-weight: bolder;
}

#share-screen > i {
  color:  #4bc800;
}

.end-meeting {
  display: flex;
  background-color: #4a4a4a;
  color: red;
  height: 100%;
}

.end-meeting > span {
  margin: auto 15px;
}
